/* =============
 table of contents
===============
 
1. Left Section
2. Right Section
3. Modal == popup
4. Responsive Design (media query ) 
 
*/



section.hero{
    margin-top: 3rem;
}

 
/* ===============
   1. Left Section
================ */
section.hero .parent-avatar.flex{

    align-items: end;
    gap: 0.6rem;
}

section.hero .left-section {
    flex-grow: 1;
}
section.hero .avatar {
    width: 90px;
    border-radius: 50%;
    border: 1px solid rgb(211, 211, 211);
    padding: 1px;
}
section.hero .icon-verified {
    color: var(--blue);
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

section.hero h1.title {
    font-size: 2.85rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--title);
}
section.hero p.sub-title {
    color: var(--subtitle);
    font-size: 0.9rem;
    line-height: 1.65rem;
    margin-bottom: 32px;
    text-transform: capitalize;
    }
section.hero span.skinny {
    font-weight: 300;
    color: rgba(93, 187, 251, 1);

}

section.hero .all-icons {
    gap: 1.5rem;
    font-size: 2.85rem;
}
section.hero .all-icons .icon {
 
    color: var(--subtitle);
    font-size: 1.35rem;
    cursor: pointer;
    transition: 0.2s;
}
section.hero .all-icons .icon:hover{

    color: var(--icon-hover);
}


 
/* ===============
   2. Right Section
================ */